.about__paragraph {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
}
 
.about--stels {
	opacity: 0;
	height: 0;
}

.about__paragraph:not(:last-child) {
	margin-bottom: 30px;
}
.about__paraspan {
	display: block;
}


.about__quote {
	margin-bottom: 39px;
	font-size: 44px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
	position: relative;
	padding-left: 44px;
	max-width: 444px;
}


.about__quote::before {
	content:"“";
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 50px;
	text-transform: uppercase;
	color: #6C0287; 
	position: absolute;
	left:0;
	
}

.about__quote::after{
	content:" ” ";
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 50px;
	color: #6C0287;
	position: absolute;
	right: 43px;
  bottom: 0;
	
}  

.about__refer {
	position: relative;
}

.about__blockquotebox {
	
	max-width: 500px;
	
}

.about__blockquote {
	padding-left: 120px;

}

.about__cite {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
}

.about__refer::before{
	display: block;
	content: "";
	background: url("../img/pictures/images/Arkasha.jpg");
	background-size: cover;
	background-position: top center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	float: left;
	margin-right: 30px;

}

.about__text {
	margin-bottom: 48px;
	max-width: 500px;
	
}



.about__contentbox {
	max-width: 1240px;
	display: flex;
	flex-wrap: wrap;
}



.about__contentimg {
	margin-right: 80px;
	cursor: pointer;
}

@media(max-width:1240px) {
	.about__paragraph {
		font-size: 18px;
		line-height: 24px;
	}

	.about__contentimg  {
		width: 420.46px;
		height: 417.66px;
		margin-right: 0;

	}

	.about__contentbox {
	
		gap: 39.5px;
	}

	.about__image {
		object-fit: cover;
		width: 100%;
	}

	.about__contenttext {
		max-width: 444px;
	}

	.about__quote {
    margin-bottom: 13px;
		font-size: 30px;
		line-height: 36px;
    padding-left: 24px;
		max-width: 400px;
}

	.about__text {
		margin-bottom: 26px;
	}

	.about__quote::before {
		font-size: 30px;
		line-height: 36px;
	}

	.about__quote::after {
		font-size: 30px;
		line-height: 36px;
		right: 131px;
	}



	.about__cite {
		font-size: 18px;
		line-height: 26px;
	}

	.about__refer::before {
		width: 70px;
		height: 70px;
		margin-right: 35px;
	}

}

@media(max-width: 992px) {

	.about__image {
		object-fit: cover;
	}

	.about__contentimg {
		max-width: 382px;
		min-height: 380px;
	}
	.about__paragraph {
		font-size: 16px;
		line-height: 22px;
	}


	.about__blockquotebox {
		display: none;
	}

	.about--stels {
		opacity: 1;
		max-width: 698px;
		height: 100%;
	}

	.about__contentbox {
		justify-content: center;
    gap: 28px;
    align-items: center;


	}

	.about__quote {
		max-width: 688px;
		font-size: 32px;
	}

	.about__text {
		max-width: 278px;
	}

	.about__blockquote {
		max-width: 440px;
		float: right;
		
	}


}



@media(max-width:740px) {
	.page__title {
		margin-bottom: 15px;
	}

	.about__text {
		font-size: 12px;
		line-height: 16px;
	}

	.about__contentimg {
		max-width: 280px;
  	min-height: 280px;
		height: unset;
	}

	.about__contenttext {
		order:-1;
	}

	.about__paragraph {
		font-size: 12px;
		line-height: 16px;
	}

	.about__paragraph:not(:last-child) {
		margin-bottom: 20px;
	}

	.about__quote {
		font-size: 18px;
		line-height: 26px;
	}

	.about__quote::after,
	.about__quote::before {
		font-size: 22px;
	}

	.about__quote::after {
		bottom: -7px;
    right: 106px
	}

	.about__blockquote {
		float: unset;
	}

	.about__blockquote {
		padding-left: unset;
	}

	.about__refer::before {
		margin-right: 11px;
	}

	.about__cite {
		font-size: 12px;
		line-height: 16px;
		max-width: 238px;
    display: block;
		
		
	}


}



