
.header{
	padding-top: 30px;
	
}

.nav__button {
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
	color: #FFFFFF;
	height: 55px;
	min-width: 280px;
	border: 3px solid var(--icon-color) ;
	border-radius: 10px;
	background: transparent; 
	transition-property: background;
	transition-duration: 0.2s;

	
}
.nav__button:hover {

	background: #6C0287;
	border: 3px solid #6C0287;
	border-radius: 10px;



}

.nav__button:focus {
	background: #6C0287;
	border: none;
}

.nav__button:active {
	background: #640AA3;
	border: 1px solid #000000;
}






.nav__link{
	font-size: 22px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
	transition-duration: 0.2s;
	transition-property: color;
}

.nav__link:hover {
	color: var(--icon-color);
}


.nav__list{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	
}

.header__wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
