
.header{
	padding-top: 30px;
	
}

.nav__button {
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
	color: #FFFFFF;
	height: 55px;
	min-width: 280px;
	border: 3px solid #CD06FF;
	border-radius: 10px;
	background: transparent;
}
.nav__button:hover {
	background: #6C0287;
}

.nav__button:focus {
	background: #6C0287;
}

.nav__button:active {
	background: #640AA3;
}






.nav__link{
	font-size: 22px;
	line-height: 50px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.nav__link:hover {
	color: #CD06FF;
}

.nav__list{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	
}

.header__wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
