
.promo__bg{
	background-image: url("../img/pictures/images/vr-glasses.png");
	background-repeat: no-repeat;
	min-height: 823px;
	background-position: bottom right;
}
.promo{
	padding-top: 50px;
	position: relative;
}
.promo__subtitle{
	font-size: 28px;
	padding-left: 100px;
	color: #FFFFFF;
	margin-bottom: 30px;
}
.promo__title{
	font-weight: 900;
	font-size: 150px;
	letter-spacing: -0.1em;
	color: #FFFFFF;
}

.promo__description {
	font-weight: 900;
	
  color: #CD06FF;
	text-align: center;
}

.promo__text {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;

}


.promo__features{
	display: flex;
	gap: 40px;
	margin-bottom: 150px;

}
.promo__item{
	display: flex;
	flex-direction: column;

}

.promo__item--width-max {
	max-width: 193px;
	font-size: 100px;
	line-height: 141px
}

.promo__item--width--min {
	max-width: 174px;
	font-size: 75px;
	line-height: 106px;
	padding-top: 35px;
}

.promo__link--font--small {
	font-variant: small-caps;

}



.promo__button {
	cursor: pointer;
	padding: 25px 69px;
	min-height: 80px;
	max-width: 374px;
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #6C0287;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	outline: transparent;
	transition-duration: 0.2s;
	transition-property: background;

}

.promo__button:hover {
	background: #840AA3;
}
.promo__button:focus {
	background: #840AA3;
}

.promo__button:active {
	background: #640AA3;
	
}





.promo__button--for--form:hover {
	background: #EADEED;
	border: 3px solid #6C0287;
}

.promo__button--for--form:focus {
	background: #FFFFFF;
	border: 3px solid #6C0287;
}

.promo__button--for--form:active {
	background: #EADEED;
}


.promo__wrapper {
	position: relative;

}


.promo__down::after{
	content: "";
	background-image: url("../img/icon/firstdown.svg");

	width: 97px;
	min-height: 97px;
	position: absolute;
	top:-40px;
	left: 568px;
	transition-duration: 0.2s;
	transition-property: background;
	
}
.promo__down:hover::after {
	background-image: url("../img/icon/whiteelipseee.svg");
}

.promo__down:focus::after {
	background-image: url("../img/icon/squaremain.svg");
	background-size: cover;
} 

.promo__down:active::after{

	background-image: url("../img/icon/downdeep.svg");

}







.promo__svg:hover {

	fill:#FFFFFF;
	stroke: #6C0287;
	
}

.promo__svg:focus {
	fill: yellow;
}

.promo__svg:active {
	
	fill: #CD06FF;
	stroke: #FFFFFF;
} 
