
.reviews__container {
	max-width: 980px;
	margin: 0 auto;
	
}

.reviews__card {
	min-height: 319px;
}

.reviews__card:not(:last-child) {
	margin-bottom: 50px;
}


.reviews__img {
	display: block;
	content: "";
	width: 280px;
	height: 280px;
	border-radius: 50%;
	object-fit: cover;

	
}

.reviews__img--position--top {
	object-position: top;
}

.reviews__img--position--center {
	object-position: center -40px;
}

.reviews__img--position--centerplus{
	object-position: center;
}


.reviews__caption {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 11px;

}

.reviews__figure {
	float: left;
	margin-right: 20px;
	position: relative;
}

.reviews__figure::after {
	content: "";
	display: block;
	width: 280px;
	height: 280px;
	border-radius: 50%;
	position: absolute;
	top:0;
	left:0;
	background: transparent;
	background-image: var(--radial-gradientOne);
}

.reviews__text {
	transform: translate(0px , 48px);
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	
}


@media(max-width:1240px) {
	.reviews__text {
		font-size: 18px;
		line-height: 26px;
		color: #FFFFFF;
		max-width: 727px;
	}

	.reviews__caption {
		font-size: 18px;
		line-height: 26px;
	}

	.reviews__img {
    display: block;
    content: "";
    width: 172px;
    height: 172px;
    border-radius: 50%;
    object-fit: cover;
	}

	.reviews__figure::after {
		width: 172px;
    height: 172px;


	}

	.reviews__container {
    max-width: 811px;
    margin: 0 auto;
		padding: 0px 30px;

	}

	.reviews__figure {
		margin-right: 38px;
	}

	.reviews__caption  {
		padding-top: 21px;
	}

	.reviews__card {
		min-height: 219px;
		
	}

	.reviews__card:not(:last-child) {
		margin-bottom: 40px;
	}

}


@media(max-width: 740px) {
	.reviews__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.reviews__container {
		max-width: 320px;
		padding: 0px 20px;
	}

	.reviews__text {
		font-size: 12px;
		line-height: 16px;
		transform: unset;
	}

	.reviews__card {
		min-height: unset;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.reviews__figure {
		margin-right: 0;
		float: unset;
	}

	.reviews__caption {
		padding-top: 9px;
		margin-bottom: 16px;
	}
	
	.reviews__card:not(:last-child) {
		margin-bottom: 20px;
	}


}