
.reviews__container {
	max-width: 980px;
	margin: 0 auto;
	
}

.reviews__card {
	min-height: 319px;
}

.reviews__card:not(:last-child) {
	margin-bottom: 50px;
}


.reviews__img {
	display: block;
	content: "";
	width: 280px;
	height: 280px;
	border-radius: 50%;
	object-fit: cover;

	
}

.reviews__img--position--top {
	object-position: top;
}

.reviews__img--position--center {
	object-position: center -40px;
}

.reviews__img--position--centerplus{
	object-position: center;
}


.reviews__caption {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 11px;

}

.reviews__figure {
	float: left;
	margin-right: 20px;
	position: relative;
}

.reviews__figure::after {
	content: "";
	display: block;
	width: 280px;
	height: 280px;
	border-radius: 50%;
	position: absolute;
	top:0;
	left:0;
	background: transparent;
	background-image: var(--radial-gradientOne);
}

.reviews__text {
	transform: translate(0px , 48px);
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	
}